<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JMSoftware.AsciiGeneratorDotNet.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JMSoftware.AsciiGeneratorDotNet.Settings>
            <setting name="BlackTextOnWhite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForNewVersions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>(Default)</value>
            </setting>
            <setting name="CurrentCharacters" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentRamp" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentSelectedRamp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentSelectedValidCharacters" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultDitheringLevel" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DefaultDitheringRandom" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DefaultFont" serializeAs="String">
                <value>Lucida Console, 9pt</value>
            </setting>
            <setting name="DefaultHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DefaultMaxLevel" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="DefaultMedianLevel" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="DefaultMinLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultTextBrightness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultTextContrast" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="InitialInputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadOutputSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InitialOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MaximumHeight" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="MaximumWidth" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value>ASCII-</value>
            </setting>
            <setting name="SelectionBorderColor" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="SelectionFillColor" serializeAs="String">
                <value>128, 173, 216, 230</value>
            </setting>
            <setting name="ShowWidgetText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Stretch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnsharpMask" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseGeneratedRamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultRamps" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MMMMMMM@@@@@@@WWWWWWWWWBBBBBBBB000000008888888ZZZZZZZZZaZaaaaaa2222222SSSSSSSXXXXXXXXXXX7777777rrrrrrr;;;;;;;;iiiiiiiii:::::::,:,,,,,,.........       </string>
                        <string>@@@@@@@######MMMBBHHHAAAA&amp;&amp;GGhh9933XXX222255SSSiiiissssrrrrrrr;;;;;;;;:::::::,,,,,,,........        ", "#WMBRXVYIti+=;:,. ", "##XXxxx+++===---;;,,...    </string>
                        <string>@%#*+=-:. </string>
                        <string>#¥¥®®ØØ$$ø0oo°++=-,.    </string>
                        <string># </string>
                        <string>01 </string>
                        <string>█▓▒░ </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultValidCharacters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string> #,.0123456789:;@ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz$</string>
                        <string> ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz</string>
                        <string> 1234567890</string>
                        <string>M@WB08Za2SX7r;i:;. </string>
                        <string>@#MBHAGh93X25Sisr;:, </string>
                        <string>█▓▒░ </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UpdateWhileSelecting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranslationFile" serializeAs="String">
                <value />
            </setting>
        </JMSoftware.AsciiGeneratorDotNet.Settings>
    </userSettings>
</configuration>